# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

/*/target/
/target

#Eclipse
*.prefs
.classpath
.project
.settings

#IntelliJ Idea
*.iml
.idea

#Spring
.factorypath
.springBeans

# Misc
*.bat